#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {

    // KC_ESC, KC_EQL,  KC_1,    KC_2,    KC_3,    KC_4,   KC_5,   KC_GRV,  KC_PGUP, KC_6,   KC_7,   KC_8,    KC_9,   KC_0,    KC_MINS, KC_DEL,
    //         KC_TAB,  KC_Q,    KC_W,    KC_E,    KC_R,   KC_T,   KC_RBRC, KC_LBRC, KC_Y,   KC_U,   KC_I,    KC_O,   KC_P,    KC_BSLS,
    //         KC_ESC,  KC_A,    KC_S,    KC_D,    KC_F,   KC_G,   KC_PGDN, KC_QUOT, KC_H,   KC_J,   KC_K,    KC_L,   KC_SCLN, TP_QUOT,
    //         KC_LSFT, TP_Z,    TP_X,    KC_C,    KC_V,   KC_B,                     KC_N,   KC_M,   KC_COMM, KC_DOT, KC_SLSH, KC_RSFT,
    //         TP_GR,   KC_LALT, KC_LEFT, KC_RGHT, TP_SPC, KC_SPC, KC_BSPC, KC_RALT, KC_ENT, TP_ENT, KC_DOWN, KC_UP,  KC_LBRC, TP_RCTRL



			bindings = <

&kp ESC  &kp EQUAL  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp GRAVE         &kp PG_UP  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp MINUS  &kp DELETE
         &kp TAB    &kp Q   &kp W   &kp E   &kp R   &kp T   &kp LBRC          &kp RBRC   &kp Y   &kp U   &kp I   &kp O   &kp P   &kp BSLH

// &kp ESC   &kp N1    &kp N2 &kp N3 &kp N4   &kp N5                     &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp GRAVE
//           &kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                      &kp Y  &kp U    &kp I     &kp O   &kp P    &kp MINUS
//           &kp LCTRL &kp A  &kp S  &kp D    &kp F    &kp G                      &kp H  &kp J    &kp K     &kp L   &kp SEMI &kp SQT
//           &kp LSHFT &kp Z  &kp X  &kp C    &kp V    &kp B  &kp LBKT   &kp RBKT &kp N  &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
//                                   &kp LALT &kp LGUI &mo 1  &kp SPACE  &kp RET  &mo 2  &kp BSPC &kp RGUI
			>;

		};
  };
};
